<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
</head>
<body style="height: 100%; margin: 0; display: flex; justify-content: center; align-items: center; min-height: 100vh; background-image: linear-gradient(rgb(255, 232, 249), rgb(255, 190, 190));">

    <header>
        <!-- <center><img src="pictures/pokemon-logo.png" width= 250 alt="pokemon logo" ></center> -->
    </header>

    <div style="background-color:rgb(165, 255, 207); margin-top: 0%; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(85, 2, 181, 0.1); text-align: center;">
        <h2 style="margin-bottom: 20px; color: navy; font-family: Lucida Sans;">Sign In</h2>
        <form>
            <label for="name" style="color: navy; text-align:center; font-family: Lucida Sans;"><strong>Username :</strong></label>
            <input type="text" id="name" placeholder="Enter your username" required>
            <p>

            </p>
            <label for="pass" style="color: navy; text-align:center; font-family: Lucida Sans;"><strong>Password :</strong></label>
            <input type="text" id="name" placeholder="Enter your password" required>
            <p>

            </p>
            <button type="reset" style="border-radius: 8px;">
                <b><a href="http://localhost:5173/home/" style="text-decoration: none; color: inherit;">Login</a></b>
            </button>
        </form>
        <div id="pokemon-info"></div>
    </div>
    
    <!-- <script src="poke.js"></script> -->

</body>
</html>
