body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    padding: 20px;
    color: navy;
}

.customer-list{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

h3{
    margin: 0 0 10px 0;

}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

li:hover{
    background-color: #eaeaea;
}

nav{
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(165, 255, 207);
    color: navy;
}

nav a:active{
    background-color: rgb(75, 207, 219);
    color: white;

}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

#banner{
    /* style="background-color: rgb(255, 104, 215);" */
    width: 100vw;
    height: 100px;
    /* min-height: 10vh; */
    background-color: rgb(249, 174, 229);
    
    /* align-items: center; */
}

#product_form, #product_list, #cust_form, #client-list, #order-form, #home, #out-screen{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(255, 232, 249), rgb(255, 190, 190));
    /* rgb(255, 232, 249); */
}

#button, #out-button{
    background-color: rgb(165, 255, 207);
    color:#230449;
    border: rgb(75, 207, 219);
    margin-left: 10px;
    border-radius: 8px;
}

#button:hover, #out-button:hover{
    background-color:rgb(75, 207, 219);
    color:navy;
    border: rgb(75, 207, 219);
}

#shop_name{
    color: navy;
    /* font-family: cursive; */
}

#grid-col{
    margin-right: 5px;
    margin-left: 10px;
    
}

#short-input{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;

}

#banner-name{
    /* padding-top: 20px; */
    font-size: xx-large;
    /* color: navy; */
    /* font-family: cursive; */
}

#sign-out{
    float: right;
    padding-right: 35px;
    padding-bottom: 20px;
    /* border-radius: 8px; */
}

#home, #out-screen{
    font-family: cursive;
    text-align: center;
}

#link{
    text-decoration: none;
    color: black;
}
#label{

    padding-top: 20px;
}